@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .VerticalMenu {
    background: #121212;
    width: 75px;
  }

  .Tooltip::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #535aff transparent transparent;
  }

  .CardTitle {
    font-size: theme('fontSize.base');
    font-weight: theme('fontWeight.semibold');
    flex-grow: theme('flexGrow.1');
  }
}
